<div class="popup-content">
  <h4>{{name}}</h4>
  <div class="charts {{type}}"></div>
  <div class="update-data-btn" type={{type}}>更新数据</div>
  <div class="document-btn" type0={{parentType}} type1={{type}}>组件配置</div>

  <div class="close"></div>
</div>


