<div class="charts-tooltip">
    <b>{{data.name}}</b>
    <p>{{data.name1}} <span>{{data.value1}}</span></p>
    <p>{{data.name2}} <span>{{data.value2}}</span></p>
    <p>{{data.name3}} <span>{{data.value3}}</span></p>
</div>