
<div class="title"><span class="name-county"><!-- {{curArea}} --> 四川省</span>地区在{{name}}终端数量</div>
<div class="total"><span>总数：</span>{{value}}</div>
<div class="unit">单位:台</div>
<!-- <ul class="operator-values">
{{#each operator}}
  <li>{{name}}：{{value}}</li>
{{/each}}
</ul> -->
